.blog-detail > div:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: left;
  margin-top: 15px;
  margin-bottom: 10px;
}
.blog-detail > div:nth-child(3) p {
  border: 1px solid mediumorchid;
  width: 120px;
  text-align: center;
  border-radius: 10px;
}
